<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949144418159-tmsg8mjedc2ipqh150op39j29uksta25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949144418159-tmsg8mjedc2ipqh150op39j29uksta25</string>
	<key>API_KEY</key>
	<string>AIzaSyBkbkepG3XWMU4M774oq50FTn9qPtA65W4</string>
	<key>GCM_SENDER_ID</key>
	<string>949144418159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.globalsolutions.urban</string>
	<key>PROJECT_ID</key>
	<string>urban-store-a372e</string>
	<key>STORAGE_BUCKET</key>
	<string>urban-store-a372e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949144418159:ios:7ad263134ba7b746ab5a9a</string>
	<key>DATABASE_URL</key>
	<string>https://urban-store-a372e.firebaseio.com</string>
</dict>
</plist>